.fontFamily{

font-family: apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

}

svg{
    width:63%;
}

.bcfilter .options-component ul{
    max-width: 90vw;
    max-height: 30vh;
    overflow-y: scroll;
}

@media only screen and (min-width : 310px) and (max-width : 416px) {


  .headerSizeResponsive {
    font-size: 46px!important;
}
.fontSizeContributing{
    font-size:39px!important;
}

}